.round-button {
   
    margin-left: 400px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.round-button:hover {
    background-color: #ff6666;
}

.siren-logo {
    padding-bottom: 10px;
    width: 60%;
    height: 70%;
    background-image: url('/assets/img/siren.svg'); /* Replace 'siren-logo.png' with your own logo */
    background-repeat: no-repeat;
    background-size: contain;
}